*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* Define theme variables */

  --white: #fff;
  --gray100: #F7F6FA;
  --gray200: #D0CBDF;
  --gray300: #AAA1C3;
  --gray400: #857AAA;
  --gray500: #60557F;
  --gray600: #3D3353;
  --black: #1D142A;

  --green: #65CB35;
  --yellow: #FFCA00;
  --orange: #FF7A00;
  --red: #F0345F;
  --purple: #7854F6;
  --blue: #00A3FF;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  padding: 6rem 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

#primary {
  flex: 1;
  width: 66.6%;
}

#secondary {
  position: relative;
  width: 33.3%;
  background: var(--gray100);
  padding: 0 8rem;
  transform: skewx(4deg);
}

#secondary:after {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  top: 0;
  left: 100%;
  bottom: 0;
  background: var(--gray100);
}

#secondary .content {
  transform: skewx(-4deg);
}

.container {
  max-width: 80rem;
  padding: 0 5rem;
  margin: 0 auto;
}

/* Typography */

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 3rem;
}

h2 {
  font-size: 5rem;
  font-family: "Gazpacho-Heavy", serif;
}

p,
ul,
ol,
blockquote {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 1.6;
}

/* Button */

.btn {
  padding: 1.2rem 1.6rem;
  border-radius: .4rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.btn.primary {
  background: var(--black);
  color: var(--white);
  font-family: 'IBM Plex Mono', monospace;
}


/* Post */

.post {
  padding: 2rem 0;
}
