layout node

export SESSION_SECRET="33abc2dc44c400c38fc35242980439ed"

export DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

export NODE_ENV=

# load local environment variables
if [ -f ".env" ] ; then
  dotenv .env
else
  echo "Unable to find .env. Please see README for configuring environment."
fi
